.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: .5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: sepia(.7);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(.6) sepia(.5);
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(.5) sepia(.6);
    transform: scale(1.5);
}

.ex-10-icon {
    animation: circle-rotation 1s linear infinite;
}

@keyframes circle-rotation {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: circle-rotation2 2s linear;
}

@keyframes circle-rotation2 {
    0% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: top 2s linear;
}

@keyframes top {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom 2s linear;
}

@keyframes bottom {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: top2 1s linear;
}

@keyframes top2 {
    0% {
        top: 10%;
    }
    50% {
        top: calc(100% - 60px);
    }
    100% {
        top: 10%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: left2 1s linear;
}

@keyframes left2 {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom2 1s linear;
}

@keyframes bottom2 {
    0% {
        bottom: 10%;
    }
    50% {
        bottom: calc(100% - 60px);
    }
    100% {
        bottom: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: right2 1s linear;
}

@keyframes right2 {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}